---
---
@import "{{ site.theme }}";
#header_wrap .outer {
padding:none;
background-image: url(https://raw.githubusercontent.com/digikeri/datapalooza/master/Datapalooza.jpg);
width: 1280px;
height: 222px;
}
#project_title {visibility:hidden;}
