---
---
@import "{{ site.theme }}";
#header_wrap {
background-image: url(https://raw.githubusercontent.com/digikeri/datapalooza/master/Datapalooza.jpg);
background-repeat:no-repeat;
background-position:center;
padding-bottom:40px;
width: 1280px;
height: 222px;
}
#project_title {visibility:hidden;}
